* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Fraunces", serif;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 110vh;
  background-image: url(../images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  padding: 5rem 3rem;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .burger {
  display: none;
  font-size: 3rem;
  color: white;
}

@media only screen and (max-width: 720px) {
  .header .burger {
    display: block;
  }
}

.header__menu {
  font-size: 2rem;
  font-family: "Barlow", sans-serif;
}

.header__menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 720px) {
  .header__menu ul {
    position: absolute;
    top: 10%;
    left: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    overflow: hidden;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    max-height: 0;
  }
}

@media only screen and (max-width: 720px) {
  .header__menu ul li {
    width: 100%;
    background-color: #fff;
    text-align: center;
  }
}

@media only screen and (max-width: 720px) {
  .header__menu ul.active {
    max-height: 60%;
  }
}

.header__menu--item {
  display: block;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 720px) {
  .header__menu--item {
    color: #a7abae;
    padding: 4rem;
  }
}

.header__menu--item-m {
  margin-right: 2.5rem;
}

@media only screen and (max-width: 720px) {
  .header__menu--item-m {
    margin-right: 0;
  }
}

.header__menu--item-p {
  display: inline-block;
  background-color: white;
  padding: 1.5rem 4rem;
  margin: 2rem 0;
  border-radius: 50px;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media only screen and (max-width: 720px) {
  .header__menu--item-p {
    background-color: #fad400;
  }
}

.header__menu--item-p:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

@media only screen and (max-width: 720px) {
  .header__menu--item-p:hover {
    color: black;
    background-color: #fad400;
  }
}

.header__heading {
  margin-top: 15rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 6rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .header__heading {
    font-size: 3rem;
  }
}

.header__arrow {
  margin-top: 20rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.arrow-up {
  position: absolute;
  top: calc(10% - 15px);
  right: 8%;
  overflow: hidden;
  width: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  height: 0;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 0 solid white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrow-up.active {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-section__box {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 60rem;
  overflow: hidden;
}

@media only screen and (max-width: 720px) {
  .about-section__box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .about-section__box-text {
    height: auto;
  }
}

.testimonials-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(254, 120, 103, 0.05);
  padding: 10rem 8rem;
  text-align: center;
}

.testimonials-section__heading {
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 0.4rem;
  margin-bottom: 5rem;
  text-align: center;
  color: #a7abae;
  font-weight: 900;
}

.testimonials-section__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #68cfbb;
}

.footer__logo {
  margin: 6rem 0 3rem 0;
}

.footer__menu ul, .footer__socials ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 5rem;
}

.footer__menu ul li:not(:last-child), .footer__socials ul li:not(:last-child) {
  margin-right: 2rem;
}

.list-item,
.social-item {
  text-decoration: none;
  color: #25564b;
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.list-item:hover,
.social-item:hover {
  color: white;
}

.about-section__box-text {
  padding: 10%;
  background-color: rgba(254, 120, 103, 0.1);
}

.about-section__heading {
  font-size: 4rem;
  color: #23303e;
  margin-bottom: 3rem;
}

.about-section__paragraph {
  font-size: 1.7rem;
  font-family: "Barlow", sans-serif;
  color: #818498;
  line-height: 2.6rem;
  margin-bottom: 5rem;
}

.about-section__button {
  display: block;
  width: 14rem;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: #23303e;
  font-size: 1.6rem;
  padding-left: 0.7rem;
  overflow: hidden;
}

.about-section__button::after {
  display: inline-block;
  position: absolute;
  top: 60%;
  z-index: -1;
  left: 0;
  content: "";
  background-color: rgba(250, 212, 0, 0.4);
  height: 10px;
  border-radius: 80px;
  width: 90%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about-section__button--pink::after {
  background-color: rgba(254, 120, 103, 0.4);
}

.about-section__button:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.about-section__box-background {
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-size: cover;
}

@media only screen and (max-width: 720px) {
  .about-section__box-image:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.about-section__box-image--1 {
  background-image: url(../images/desktop/image-transform.jpg);
  background-size: cover;
  background-position: center;
}

.about-section__box-image--2 {
  background-image: url(../images/desktop/image-stand-out.jpg);
  background-position: center;
  background-size: cover;
}

.about-section__box-background--1 {
  background-image: url(../images/desktop/image-graphic-design.jpg);
}

.about-section__box-background--2 {
  background-image: url(../images/desktop/image-photography.jpg);
}

.about-section__heading-back {
  font-size: 3rem;
}

.about-section__paragraph-back {
  font-size: 1.4rem;
  width: 45%;
  text-align: center;
  color: #25564b;
}

.testimonial-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1000px) {
  .testimonial-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0 30%;
    margin-bottom: 10rem;
  }
}

@media only screen and (max-width: 720px) {
  .testimonial-item {
    padding: 0 10%;
  }
}

.testimonial-item__photo {
  margin-bottom: 6rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial-item__photo img {
  width: 100%;
}

.testimonial-item__paragraph {
  padding: 0 2.5rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Barlow", sans-serif;
  color: #5a636c;
  margin-bottom: 8rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (max-width: 1000px) {
  .testimonial-item__paragraph {
    margin-bottom: 3rem;
  }
}

.testimonial-item__person {
  font-size: 1.8rem;
  color: #23303e;
  margin-bottom: 1rem;
}

.testimonial-item__job {
  font-family: "Barlow", sans-serif;
  font-size: 1.3rem;
  color: #818498;
}

.gallery-section {
  width: 100%;
}

.gallery-section__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-section__image {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

@media only screen and (max-width: 720px) {
  .gallery-section__image {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.gallery-section__image img {
  width: 100%;
  height: 100%;
}

.website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */