.about-section {
  display: flex;
  flex-wrap: wrap;
  &__box {
    flex-basis: 50%;
    @include respond(phone) {
      flex-basis: 100%;
    }
    height: 60rem;
    overflow: hidden;
    &-text {
      @include respond(phone) {
        height: auto;
      }
    }
  }
}
